<%- include('../partials/header',{pageTitle:'login',stylesheet:'/css/main.css'}) %> 

<h1>login</h1>

<% errorMessages.forEach(message => { %>
    <p><%= message %> </p>
<% }) %>

<% successMessages.forEach(message => { %>
    <p><%= message %> </p>
<% }) %>

<a href="/auth/google">login with google</a>

<%- include('../partials/footer',{scripts:[]}) %> 